<div class="auth-container">
    <div class="auth-card">
        <h2>Register</h2>

        <form (ngSubmit)="onSubmit()" #form="ngForm">

            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" [(ngModel)]="model.email" required placeholder="Enter your email" />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" [(ngModel)]="model.password" required minlength="6"
                    #password="ngModel" />

                <div class="error" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <span *ngIf="password.errors?.['required']">
                        Password is required
                    </span>
                    <span *ngIf="password.errors?.['minlength']">
                        Minimum 6 characters required
                    </span>
                </div>
            </div>

            <div class="error" *ngIf="serverErrors.length">
                <div *ngFor="let error of serverErrors">
                    {{ error }}
                </div>
            </div>

            <button type="submit" [disabled]="form.invalid">
                Register
            </button>

        </form>
    </div>
</div>